.input-field .chip {
  width: 120px;
  height: 40px;
  border-radius: 40px;
  line-height: 40px;
}

.file-field .chip {
  width: 100px;
  height: 40px;
  border-radius: 40px;
  line-height: 40px;
}

.chip-btn .chip {
  width: 120px;
  height: 40px;
  border-radius: 40px;
  line-height: 40px;
}
